@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');

body {
    font-family: 'Frank Ruhl Libre', serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: justify;
    color: rgb(39, 39, 39);
}

.logo {
    text-align: center;
    margin: 20px 0 20px 0;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(3, 84, 81);
    background-color: rgba(243, 219, 4, 0.148);
    margin-top: 30px;
    border-top: 2px solid rgb(228, 162, 9);
    height: 70px;
}

.main {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
}

.main h1 {
    font-size: 2.7em;
}

.main img {
    border-radius: 20px;
}

.author {
    font-size: 1.4em;
}

.title {
    text-align: center;
    margin-top: 80px;
}

.author {
    color: grey;
    text-align: center;
}

.featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
    margin-top: 30px;
    border-left: 2px solid rgb(213, 175, 7);
}

.featured2 {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.featured2 p {
    margin: 0;
    color: red;
}

.featured2 a {
    color: rgb(4, 109, 63);
}

.ingredients h3 {
    margin: 0 0 30px 0;
    font-size: 1.5em;
    height: 60px;
    border-bottom: 2px solid rgb(6, 162, 240);
}

.ingredients h4 {
    font-size: 1.1em;
}

.method h3 {
    margin: 30px 0 30px 0;
    font-size: 1.5em;
    height: 60px;
    border-bottom: 2px solid rgb(6, 162, 240);
}

.method h4 {
    margin-top: 40px;
    margin-left: 25px;
}

.method strong {
    font-size: 1.1em;
}

.method p {
    margin-left: 40px;
}

.list li {
    margin: 5px 0 25px 0;
}

.more {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.more a {
    color: rgb(3, 84, 81);
}